# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
.log

# =========================
# Environment files
# =========================
.env
.env.local
.env..local

# =========================
# Node modules (もしJS使う場合)
# =========================
node_modules/

# =========================
# Build / temp
# =========================
dist/
build/
tmp/
temp/

# =========================
# Database dumps
# =========================
*.sql

# =========================
# Backup files
# =========================
*.bak
.swp
*~

# =========================
# Mac hidden files
# =========================
._

# =========================
# Local test files
# =========================
index.php

functions.php